h1 {
    color: blue;
    border: 4px solid;
    border-radius: 10px;
    background-color: black;
    text-transform: capitalize;
    text-align: center;
}

body {
    background-color: black;
    color: blue;
    text-align: center;
}

header {
    text-align: center;
}
